/* Style global pour le conteneur de la carte */
.card {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #080706;
    border-radius:1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  .cardChangeProduct{
    max-width: 1000px;
  }
  .cardTrajet{
    width: 1000px;
  }
  /* Style pour le corps de la carte */
  .card-body {
    padding: 20px;
  }
  
  /* Style global pour les paragraphes */
  .tittleCard {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    background-image: url('../Images/flou-luxe-abstrait-degrade-gris-fonce-noir-utilise-comme-mur-studio-arriere-plan-pour-afficher-vos-produits_1258-63997.avif');
    background-size: cover;
    border-radius:1rem;
    color: WHITE;
    width: 100%;
    padding-top: 1rem;
    height: 4rem;
  }
  
  /* Style pour les groupes de formulaire */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style pour les labels de formulaire */
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style pour les champs de formulaire */
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  /* Style pour les boutons */
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-group .btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('../Images/deep-black-flat-background-dark-600nw-1217166283.webp');
    background-size: cover;
  }
  
  
  .button-group .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .button-group .btn-primary:hover {
    background-color: #0056b3;
    background-image: url('../Images/Capture\ d\'écran\ 2024-05-28\ 094238.png');
    background-size: cover;
  }
  .infoAuteurTrajet{
    text-align: center;
    color: #008080;
    font-weight: 8rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem;
    letter-spacing: 5px;
  }
  .imgProductCard{
    width: 25em;
    height: 20rem;
    object-fit: cover;
  }
  .cardChangeBody{
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
  }
  .notAlignItems{
    align-items: flex-start;
  }